service ven_configstore-1-0 /sbin/vendor.lge.hardware.configstore@1.0-service
    user root
    group root
    setenv PATH /vendor/bin:/system/system/bin
    setenv LD_LIBRARY_PATH /vendor/lib64:/system/system/lib64:/vendor/lib:/system/system/lib
    oneshot
    disabled
    seclabel u:r:vold:s0
